.center {
    text-align: center;
}

.top {
    color:red;
    text-align: center;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    text-align: left;
    display: flex;
    justify-content: space-between
}

.btn-padding {
    margin: 10px;
}


.desc {


}

.hide {
    display: none;
}

.show {
    display: inline;
}
